.content {

}

.timeText p{
    text-align: center;
    font-size:7rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
    line-height: 7rem;
    margin: 1rem;


}
.timeTextBackground {
    width: min-content;
    height: min-content;
    /*background-color: aliceblue;*/

}

.timeText {
    width:100%;
    overflow:hidden;
    align-items: center;
    justify-content: center;
    display:flex;

}

.container{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-family: "Open Sans",sans-serif;
}

.container a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.container h1.logo {
    float:left;
    font-size: 25px;
    font-weight: bold;

}

.container  a:hover {
    background-color:lightsteelblue;
    color: black;
}

.container a.active {
    background-color: dodgerblue;
    color: white;
}

.menu {
    float: right;
}

